<mat-list-item role="listitem" (click)="todoClicked()">
  <div class="item-container">
    <span>{{ todo.label }}</span> 
    <span>
      <button *ngIf="todo.done" mat-button color="primary">Done</button>
      <button *ngIf="!todo.done" mat-button color="primary">Not Done</button>
     
    </span>
    <span>
      <button type="button" mat-button color="primary" (click)="updateTodo()">Update</button>
      <button type="button" mat-button color="primary" (click)="deleteTodo()">Delete</button>
    </span>
  </div>
</mat-list-item>
