<div>
    <div>
      <div>
        <table>
          <tr>
            <td>ID</td>
            <td>{{data['id']}}</td>
          </tr>
          <tr>
            <td>Label</td>
            <td>{{data['label']}}</td>
          </tr>
          <tr>
            <td>Category</td>
            <td>{{data['category']}}</td>
          </tr>
          <tr>
            <td>Description</td>
            <td>{{data['description']}}</td>
          </tr>
        </table>
        <br>
        <button mat-dialog-close style="float:right;" mat-flat-button color="primary">Cancel</button>
      </div>
    </div>
  </div>